<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%> Shop</h1>
    <h2>Here are the events we host:</h2>
    <ul>
      <% events.forEach(function(event) { %>
      <li>
        <strong>Event:</strong> <%= event.eventType %> <br />
        <strong>Date:</strong> <%= event.dateOfEvent %> <br />
        <strong>Time:</strong> <%= event.timeOfEvent %> <br />
        <strong>Location:</strong> <%= event.location %> <br />
        <strong>Max Participants:</strong> <%= event.maxAttendees %> <br />
        <strong>Current Participants:</strong> <%= event.currentParticipants %>
        / <%= event.maxAttendees %> <strong>Price:</strong> £<%= event.price %>
        <% if (isLoggedIn && userType === 'customer') { %>
        <form action="/enlistEvent" method="post">
          <input type="hidden" name="eventId" value="<%= event.event_id %>" />
          <input type="submit" value="Enlist" />
        </form>
        <% } %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
