<!DOCTYPE html>
<html>
  <head>
    <title>My Events - <%= shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>My Events at <%= shopName %></h1>
    <ul>
      <% myEvents.forEach(function(event) { %>
      <li>
        <strong>Event:</strong> <%= event.eventType %> <br />
        <strong>Date:</strong> <%= event.dateOfEvent %> <br />
        <strong>Time:</strong> <%= event.timeOfEvent %> <br />
        <strong>Location:</strong> <%= event.location %> <br />
        <strong>Max Participants:</strong> <%= event.maxAttendees %> <br />
        <strong>Price:</strong> £<%= event.price %> <br />
        <% if (userType === 'customer') { %>
        <form action="/dropEvent" method="post">
          <input type="hidden" name="eventId" value="<%= event.event_id %>" />
          <input type="submit" value="Drop Out" />
        </form>
        <% } %> <% if (userType === 'instructor' && event.instructor_id ===
        userId) { %>
        <form action="/deleteEvent" method="post">
          <input type="hidden" name="eventId" value="<%= event.event_id %>" />
          <input type="submit" value="Delete Event" />
        </form>
        <% } %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
